:root {
    --level-card-width: 400px;
    --level-card-height: 250px;
}

main {
    width: 100%;

    flex-wrap: wrap;
    gap: 2rem;
}

.level-card {
    width: var(--level-card-width);
    height: var(--level-card-height);
    box-sizing: border-box;
    overflow: hidden;

    border: 5px solid red;
    border-radius: 5px;
}
.level-card .img-wrapper {
    max-height: 175px;
    justify-self: start;
}
.level-card img {
    cursor: initial;
    width: var(--level-card-width);
    height: auto;
}

.level-card .text-content {
    justify-content: space-between;
    
    height: 75px;

    background-color: white;
    color: black;
}
.level-card .text-content > * {
    margin: 1rem;
}
.level-card .characters-showcase {
    margin: 1rem;
}
.level-card .characters-showcase img {
    width: 40px;
    height: auto;
}