header {
    width: 100vw;

    padding: .5rem;
    border: 3px solid white;
}

header .buttons {
    gap: 1rem;
}

header button:disabled {
    background-color: grey;
    color: black;
}
header button:disabled:hover {
    background-color: grey;
    color: black;

}