.popup-menu {
    position: absolute;

    border: 3px black solid;
    border-radius: 0 10px 10px 10px;

    background: white;
    color: black;
    font-weight: bold;
}

.popup-menu ul {
    width: 100%;

    padding: 1.5rem;
}

.popup-menu li {
    width: 100%;

    border-bottom: 1px solid lightgrey;
    margin: .3rem;

}